[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
uvloop = "*"
python-dateutil = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.6"
